body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}
main div{
    display: flex;
    justify-content: space-around;
}

h1 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;
}

img {
    max-width: 100%;
    height: 300px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 16px;
    }

    header {
        padding: 15px 0;
    }

    main {
        padding: 10px;
    }

    img {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 200px;
    }
    main div{
        display: block;
    }

    footer {
        margin-top: 20px;
        padding: 15px;
    }
}


@media (max-width: 480px) {
    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        font-size: 14px;
    }

    main h1 {
        font-size: 24px;
    }

    footer {
        font-size: 14px;
    }
}
